body {
	background-color: #e6e6fa
}

h3 {
	margin: 1px;
}

p {
	margin: 1px;
}

.gun__setup {
	margin: 0px 0px 5px;
	padding: 0px 0px 5px;
	background: rgb(52, 192, 196);
}

.gun__place {
	background: white;
	margin: 0px;
	border: 1px solid black;
	position: relative;
}

.gun__gun-body {
	margin-top: 15px;
	border: 1px solid white;
	position: relative;
}

.gun__gun-barrel {
	margin: 5px 5px 0px;
	width: 60px;
	height: 6px;
	border: 1px solid black;
}

.gun__grip-trigger {
	display: flex;
	margin: -1px 7px 5px;
}

.grip-trigger__grip {
	width: 10px;
	height: 30px;
	border: 1px solid black;
}

.grip-trigger__trigger {
	margin-left: -1px;
	width: 10px;
	height: 10px;
	border: 1px solid black;
}

.gun__bullet {
	width: 5px;
	height: 5px;
	border: 2px solid black;
	border-radius: 10px;
	position: absolute;
	top: 5px;
	left: 70px;
}

.gun__bullet-end {
	margin-top: -10px;
	height: 20px;
	border-radius: 10px;
	background: rgba(56, 57, 61, 0.4);
	position: absolute;
  top: 50%;
	left: 30px;
}

.bullet-end__text {
	margin: 0px;
	padding: 0px 5px;
}

.gun__target {
	background: black;
	width: 5px;
	height: 11px;
	position: absolute;
	top: 3px;
	left: 500px;
}

.gun__info {
	position: absolute;
	top: 3px;
	left: 600px;
}
