body {
	background-color: #e6e6fa
}

.gun__place {
	margin: 0px;
	border: 1px solid black;
	position: relative;
}

.gun__gun-body {
	background: white;
	border: 1px solid white;
	position: relative;
}

.gun__gun-barrel {
	margin: 5px 5px 0px;
	width: 60px;
	height: 6px;
	border: 1px solid black;
}

.gun__gun-grip {
	margin: -1px 7px 5px;
	width: 10px;
	height: 30px;
	border: 1px solid black;
}

.gun__gun-trigger {
	width: 10px;
	height: 10px;
	border: 1px solid black;
	position: absolute;
	top: 12px;
	left: 18px;
}

.gun__bullet {
	width: 5px;
	height: 5px;
	border: 2px solid black;
	border-radius: 10px;
	position: absolute;
	top: 5px;
	left: 70px;
}

.gun__bullet-end {
	margin-top: -10px;
	height: 20px;
	border-radius: 10px;
	background: rgba(56, 57, 61, 0.4);
	position: absolute;
  top: 50%;
	left: 30px;
}

.bullet-end__text {
	margin: 0px;
	padding: 0px 5px;
}

.gun__target {
	background: black;
	width: 5px;
	height: 11px;
	position: absolute;
	top: 3px;
	left: 500px;
}
